# Maven build directory
/Backend-z-manager/target/

# Node modules
/frontend-z-manager/node_modules/
/node_modules

# Log files
**/logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
/.idea/
/.vscode/

# Environment files
/taskmanager-backend/application.properties
/taskmanager-frontend/.env.local

# Other
*.swp
*.bak
.vscode
backend-z-manager/.env
